div.voting {
  float: left;
}

div.vote-button {
  margin-left: 0;
  display: block;
}

div.vote-count-wrapper {
  display: block;

  .vote-count {
    height: 30px;
    line-height: 30px;
  }
}

.voting-popup-menu {
  position: fixed !important;
  left: 10px !important;
  right: 10px !important;
  top: 137px !important;
  width: calc(100% - 42px);
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  z-index: 990;
  cursor: initial;
}
